* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-roboto);
  background-color: hsl(228, 22%, 5%);
  color: #ffffff;
}

.center-max-size {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-transform: uppercase;
}

.poster {
  background-size: cover;
  background-position: top center;
  min-height: 600px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  position: relative;
}

.poster-content {
  width: 100%;
}

h1 {
  font-size: 92px;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

.container {
  background-color: #0F1014;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}


.button {
  margin: 20px 0;
  background: #0F1014;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid gray;
}

.button:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.close-video {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
}

.youtube{
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  position: relative;
}

.youtube-container {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



/*-- MOVIE */

.movie {
  position: relative;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.movie img {
  height: 355px;
  max-width: 100%;
}

.movie-infos {
  padding: 15px 0;
}

.movie-title {
  margin: 0;
}

.movie-voting {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #0F1014;
  border: 1px solid gray;
  padding: 10px;
  font-size: 12px;
  border-radius: 25px;
}

/** SEARCH **/
.form {
  position: relative;
}

.searchMovie {
  display: flex;
  float: right;
  width: 60%;
  border: 1px solid darkslategray;
  outline: transparent;
  background-color: transparent;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 25px;
  color: white;
  transition: width .3s;
}
.searchMovie:hover{
  width: 110%;
}



.submit-search {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  color:  white;
  border: none;
  cursor: pointer;
}

.navButton{
  float: right;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  z-index: 2;
  color: white;
  border: solid 1px;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 20px;
  margin-top: 10px;
  background: linear-gradient(
      30deg,
      rgb(38, 32, 141) 0%,
      rgba(158, 4, 247, 0.3) 80%
  );
  transition: padding .5s;
}

.navButton:hover{
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(
      30deg,
      rgb(38, 32, 141) 0%,
      rgba(158, 4, 247, 0.3) 80%
  );
}

.profilePic{
  float: left;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  z-index: 2;
  color: white;
  border: solid 1px;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 20px;
  margin-top: 10px;background: linear-gradient(
      30deg,
      rgb(38, 32, 141) 0%,
      rgba(158, 4, 247, 0.3) 80%
  );
}

.brand {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 20px; 
  flex-direction: column;
  background-color: #282c34;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-top: 4px;
  margin-right: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(
      30deg,
      rgb(3, 1, 41) 0%,
      rgba(36, 1, 55, 0.1) 100%
  );
}

.navHead{
  display: block;
  float: left;
}